@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
    name: "light";
    default: true;
    --color-primary: #8250d2;
    --color-primary-content: #fffff3;
    --color-secondary: #f5deb3;
    --color-secondary-content: #241d05;
    --color-accent: #9C27B0;

    /* border radius */
    --radius-selector: 1rem;
    --radius-field: 0.35rem;
    --radius-box: 0.7rem;
}

